@page
@model InfoDragonBallModel
@{
}

<h1>@Model.InfoDragonBall.Fighter</h1>
<p><strong>@Model.Id</strong></p>
<img src="@Model.InfoDragonBall.ImageURL " alt="Nome do Pais" style="width: 100%;" />
